/* GLOBAL */
body {
    background: url('~images/miku.png'), linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%) no-repeat;
    font-size: 4rem;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    mix-blend-mode: overlay;
    background-blend-mode: lighten;
    font-family: 'Lobster', cursive;
}

h1 {
    border: 0.125em solid;
    display: inline-block;
    padding: 0.25em;
}